/*
 *Silva
*/

body {
	font: 20px sans-serif;
	line-height: 2.0;
	color: #f5f6f7;
	background-color: #2f2f2f; 
}

li { 
	color: #333333;
	padding-left: 10px;
}

ul {
	background-color: #fff;
	border-radius: 10px;
}

.aux {
	background-color: #fff;
	color: #555555 !important;
	border-radius: 8px;
	padding-left: 10px;
}

.bg-2 { 
	background-color: #474e5d; 
	color: #ffffff;
	padding-left: 10px;
	border-radius: 10px;
}

.bg-3 { 
	background-color: #dcdcdc;
	color: #555555;
	border-radius: 10px;
	padding-left: 10px;
}

.bg-4 { 
	background-color: #2f2f2f; 
	color: #fff;
}

.title {
	color: #7f7;
	text-align: center;
}

a {
	color: #333333;
}

a:hover {
	color: #aaaaaa !important;
}